<?xml version="1.0"?>
<!--
/**
 * FACTFinder_Suggest
 *
 * @category Mage
 * @package FACTFinder_Suggest
 * @author Flagbit Magento Team <magento@flagbit.de>
 * @copyright Copyright (c) 2016 Flagbit GmbH & Co. KG
 * @license https://opensource.org/licenses/MIT  The MIT License (MIT)
 * @link http://www.flagbit.de
 *
 */
 -->
<config>
    <modules>
        <FACTFinder_Suggest>
            <version>4.0.1</version>
        </FACTFinder_Suggest>
    </modules>
    <global>
        <models>
            <factfinder_suggest>
                <class>FACTFinder_Suggest_Model</class>
            </factfinder_suggest>
        </models>
        <blocks>
            <factfinder_suggest>
                <class>FACTFinder_Suggest_Block</class>
            </factfinder_suggest>
            <xmlconnect>
                <rewrite>
                    <catalog_search_suggest>FACTFinder_Suggest_Block_XmlConnect_Catalog_Search_Suggest</catalog_search_suggest>
                </rewrite>
            </xmlconnect>
        </blocks>
        <helpers>
            <factfinder_suggest>
                <class>FACTFinder_Suggest_Helper</class>
            </factfinder_suggest>
        </helpers>
        <events>
            <factfinder_export_after>
                <observers>
                    <factfinder_suggest_import>
                        <class>factfinder_suggest/observer</class>
                        <method>triggerImportAfterExport</method>
                    </factfinder_suggest_import>
                </observers>
            </factfinder_export_after>
        </events>
    </global>
    <frontend>
        <routers>
            <factfinder_suggest>
                <use>standard</use>
                <args>
                    <module>FACTFinder_Suggest</module>
                    <frontName>ff_suggest</frontName>
                </args>
            </factfinder_suggest>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <addActivationLayoutHandles>
                        <class>factfinder_suggest/observer</class>
                        <method>addSuggestHandles</method>
                    </addActivationLayoutHandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <factfinder_suggest>
                    <file>factfinder/suggest.xml</file>
                </factfinder_suggest>
            </updates>
        </layout>
        <translate>
            <modules>
                <FACTFinder_Suggest>
                    <files>
                        <default>FACTFinder_Suggest.csv</default>
                    </files>
                </FACTFinder_Suggest>
            </modules>
        </translate>
    </frontend>
    <default>
        <factfinder>
            <config>
                <proxy>1</proxy>
            </config>
        </factfinder>
    </default>
</config>