.vagrant/.vagrant
*.cache.properties
.buildpath
.settings/**/*
.project
.settings
build
robo-deployment/*

.idea
/build.mb.properties
/build.mb.xml
/build.properties

robo-deployment
docker
sample-data
docker-compose.yml