<?xml version="1.0"?>
<!--
/**
 * Flagbit_FactFinder
 *
 * @category  Mage
 * @package   Flagbit_FactFinder
 * @copyright Copyright (c) 2010 Flagbit GmbH & Co. KG (http://www.flagbit.de/)
 */

/**
 * Module Config
 * 
 * @category  Mage
 * @package   Flagbit_FactFinder
 * @copyright Copyright (c) 2010 Flagbit GmbH & Co. KG (http://www.flagbit.de/)
 * @author    Joerg Weller <weller@flagbit.de>
 * @version   $Id$
 */
-->
<config>
    <modules>
        <Flagbit_FactFinder>
            <active>true</active>
            <version>0.4.0</version>
        </Flagbit_FactFinder>
    </modules>
    <global>
        <helpers>
            <factfinder>
                <class>Flagbit_FactFinder_Helper</class>
            </factfinder>
        </helpers>
        <blocks>
            <factfinder>
                <class>Flagbit_FactFinder_Block</class>
            </factfinder>
			<catalogsearch>
				<rewrite>
					<layer>Flagbit_FactFinder_Block_Layer</layer>
				</rewrite>
			</catalogsearch>
			<xmlconnect>
				<rewrite>
					<catalog_search>Flagbit_FactFinder_Block_XmlConnect_Catalog_Search</catalog_search>
					<catalog_search_suggest>Flagbit_FactFinder_Block_XmlConnect_Catalog_Search_Suggest</catalog_search_suggest>
					<catalog_product_list>Flagbit_FactFinder_Block_XmlConnect_Catalog_Product_List</catalog_product_list>					
				</rewrite>
			</xmlconnect>
        </blocks>     
        <models>
            <factfinder>
                <class>Flagbit_FactFinder_Model</class>
				<resourceModel>factfinder_mysql4</resourceModel>
            </factfinder>
            <factfinder_mysql4>
                <class>Flagbit_FactFinder_Model_Mysql4</class>
            </factfinder_mysql4>	
			<catalogsearch>
				<rewrite>
					<layer>Flagbit_FactFinder_Model_Layer</layer>
					<layer_filter_attribute>Flagbit_FactFinder_Model_Layer_Filter_Attribute</layer_filter_attribute>
				</rewrite>
			</catalogsearch>					
        </models>    
    </global>
    <frontend>
        <layout>
            <updates>
                <factfinder>
                    <file>factfinder.xml</file>
                </factfinder>			
            </updates>
        </layout>
        <routers>
            <factfinder>
                <use>standard</use>
                <args>
                    <module>Flagbit_FactFinder</module>
                    <frontName>factfinder</frontName>
                </args>
            </factfinder>
        </routers>	        
    </frontend>        
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <factfinder>
                                            <title>FACT-Finder</title>
                                        </factfinder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Flagbit_FactFinder>
                    <files>
                        <default>Flagbit_FactFinder.csv</default>
                    </files>
                </Flagbit_FactFinder>
            </modules>
        </translate>       
        <layout>
            <updates>
                <factfinder>
                    <file>factfinder.xml</file>
                </factfinder>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <factfinder before="Mage_Adminhtml">Flagbit_FactFinder_Adminhtml</factfinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>	
    <default>
    	<catalog>
    		<search>
    			<engine>factfinder/search_engine</engine>
			</search>
		</catalog>
		<factfinder>
	        <version>2.3.9</version>
	        <revision>$Rev: 25896 $</revision>
	        <debug>true</debug>
	
	        <!-- search settings: WARNING: dont change settings here, please use the Magento backoffice ... 
	            if you still have to change something here, dont forget to clear the configuration cache -->
	        <search>
	            <address>magento.fact-finder.de</address>
	            <port>8080</port>
	            <protokoll>http</protokoll> <!-- possible values: http, https -->

                <auth_user>client</auth_user>
                <auth_password>magento</auth_password>
                <auth_type>advanced</auth_type> <!-- possible values: http (for FF <= 6.4); simple | advanced (for FF >= 6.5)-->
                <auth_advancedPrefix>FACT-FINDER</auth_advancedPrefix>
                <auth_advancedPostfix>FACT-FINDER</auth_advancedPostfix>

	            <context>MagentoSearch65</context>
	            <channel></channel>
	            <language></language>
	        </search>
	
	        <!-- parameter settings -->
	        <params>
	            <!-- parameter settings for the server -->
	            <server>
	                <mapping from="q" to="query" />
	                <mapping from="p" to="page" />
	            </server>
	
	            <!-- parameter settings for the client -->
	            <client>
	                <ignore name="xml" />
	                <ignore name="format" />
	                <ignore name="x" />
	                <ignore name="y" />
	                <ignore name="channel" />
	                <ignore name="productsPerPage" />
	                <mapping from="query" to="q" />
	                <mapping from="page" to="p" />
	            </client>
	        </params>
	
	        <!-- encoding settings -->
	        <encoding>
	            <pageContent>UTF-8</pageContent>
	            <serverURI>UTF-8</serverURI>
	            <pageURI>UTF-8</pageURI>
	        </encoding>
        </factfinder>
    </default>    
</config>