<?xml version="1.0"?>
<!--
/**
 * Flagbit_FactFinder
 *
 * @category  Mage
 * @package   Flagbit_FactFinder
 * @copyright Copyright (c) 2010 Flagbit GmbH & Co. KG (http://www.flagbit.de/)
 */

/**
 * Module Config
 * 
 * @category  Mage
 * @package   Flagbit_FactFinder
 * @copyright Copyright (c) 2010 Flagbit GmbH & Co. KG (http://www.flagbit.de/)
 * @author    Joerg Weller <weller@flagbit.de>
 * @version   $Id$
 */
-->
<config>
    <modules>
        <Flagbit_FactFinder>
            <active>true</active>
            <version>3.3.8</version>
        </Flagbit_FactFinder>
    </modules>
    <global>
        <helpers>
            <factfinder>
                <class>Flagbit_FactFinder_Helper</class>
            </factfinder>
        </helpers>
        <blocks>
            <factfinder>
                <class>Flagbit_FactFinder_Block</class>
            </factfinder>
            <catalogsearch>
                <rewrite>
                    <term>Flagbit_FactFinder_Block_TagCloud</term>
                    <layer>Flagbit_FactFinder_Block_Layer</layer>
                </rewrite>
            </catalogsearch>
            <catalog>
                <rewrite>
                    <layer_view>Flagbit_FactFinder_Block_Layer</layer_view>
                    <product_list_upsell>Flagbit_FactFinder_Block_Product_List_Upsell</product_list_upsell>
                    <product_list_crosssell>Flagbit_FactFinder_Block_Product_List_Crosssell</product_list_crosssell>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_crosssell>Flagbit_FactFinder_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
            <enterprise_search>
                <rewrite>
                    <catalogsearch_layer>Flagbit_FactFinder_Block_Layer</catalogsearch_layer>
                    <catalog_layer_view>Flagbit_FactFinder_Block_Layer</catalog_layer_view>
                </rewrite>
            </enterprise_search>
            <xmlconnect>
                <rewrite>
                    <catalog_search>Flagbit_FactFinder_Block_XmlConnect_Catalog_Search</catalog_search>
                    <catalog_search_suggest>Flagbit_FactFinder_Block_XmlConnect_Catalog_Search_Suggest</catalog_search_suggest>
                    <catalog_product_list>Flagbit_FactFinder_Block_XmlConnect_Catalog_Product_List</catalog_product_list>                    
                </rewrite>
            </xmlconnect>
        </blocks>     
        <models>
            <factfinder>
                <class>Flagbit_FactFinder_Model</class>
                <resourceModel>factfinder_mysql4</resourceModel>
            </factfinder>
            <factfinder_mysql4>
                <class>Flagbit_FactFinder_Model_Mysql4</class>
                <entities>
                    <scic_queue><table>flagbit_factfinder_scic_queue</table></scic_queue>
                </entities>
            </factfinder_mysql4>
            <catalogsearch>
                <rewrite>
                    <layer>Flagbit_FactFinder_Model_Layer</layer>
                    <layer_filter_attribute>Flagbit_FactFinder_Model_Layer_Filter_Attribute_Catalogsearch</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <catalog>
                <rewrite>
                    <layer>Flagbit_FactFinder_Model_Layer</layer>
                    <layer_filter_attribute>Flagbit_FactFinder_Model_Layer_Filter_Attribute_Catalog</layer_filter_attribute>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <factfinder_setup>
                <setup>
                    <module>Flagbit_FactFinder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </factfinder_setup>
        </resources>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <setEnabledFlagInFactFinderConfig>
                        <class>factfinder/observer</class>
                        <method>setEnabledFlagInFactFinderConfig</method>
                    </setEnabledFlagInFactFinderConfig>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <factfinder>
                    <file>factfinder.xml</file>
                </factfinder>            
            </updates>
        </layout>
        <routers>
            <factfinder>
                <use>standard</use>
                <args>
                    <module>Flagbit_FactFinder</module>
                    <frontName>factfinder</frontName>
                </args>
            </factfinder>
        </routers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <addToCartSendSCIC>
                        <class>factfinder/observer</class>
                        <method>addToCartSendSCIC</method>
                    </addToCartSendSCIC>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_after>
                <observers>
                    <addOrderDetailsToSCICQueue>
                        <class>factfinder/observer</class>
                        <method>addOrderDetailsToSCICQueue</method>
                    </addOrderDetailsToSCICQueue>
                </observers>
            </sales_order_place_after>
            <controller_action_layout_load_before>
                <observers>
                    <addActivationLayoutHandles>
                        <class>factfinder/observer</class>
                        <method>addActivationLayoutHandles</method>
                    </addActivationLayoutHandles>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <redirectToProductIfSingleResult>
                        <class>factfinder/observer</class>
                        <method>redirectToProductIfSingleResult</method>
                    </redirectToProductIfSingleResult>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <translate>
            <modules>
                <Flagbit_FactFinder>
                    <files>
                        <default>Flagbit_FactFinder.csv</default>
                    </files>
                </Flagbit_FactFinder>
            </modules>
        </translate>
    </frontend>        
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <factfinder>
                                            <title>FACT-Finder</title>
                                        </factfinder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Flagbit_FactFinder>
                    <files>
                        <default>Flagbit_FactFinder.csv</default>
                    </files>
                </Flagbit_FactFinder>
            </modules>
        </translate>       
        <layout>
            <updates>
                <factfinder>
                    <file>factfinder.xml</file>
                </factfinder>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <rewriteBackendMenuHtmlForCockpitRedirect>
                        <class>factfinder/observer</class>
                        <method>rewriteBackendMenuHtmlForCockpitRedirect</method>
                    </rewriteBackendMenuHtmlForCockpitRedirect>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <factfinder before="Mage_Adminhtml">Flagbit_FactFinder_Adminhtml</factfinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <factfinder_scic_queue_processing>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>factfinder/observer::processScicOrderQueue</model></run>
            </factfinder_scic_queue_processing>
        </jobs>
    </crontab>
    <default> 
        <catalog>
            <search>
                <engine>factfinder/search_engine</engine>
            </search>
        </catalog>
        <factfinder>
            <version>2.3.15</version>
            <revision>$Rev: 25896 $</revision>
            <debug>true</debug>
    
            <!-- search settings: WARNING: dont change settings here, please use the Magento backoffice ... 
                if you still have to change something here, dont forget to clear the configuration cache -->
            <search>
                <address>magento.fact-finder.de</address>
                <port>8080</port>
                <protocol>http</protocol> <!-- possible values: http, https -->

                <auth_user>client</auth_user>
                <auth_password></auth_password>
                <auth_type>advanced</auth_type> <!-- possible values: http (for FF <= 6.4); simple | advanced (for FF >= 6.5)-->
                <auth_advancedPrefix>FACT-FINDER</auth_advancedPrefix>
                <auth_advancedPostfix>FACT-FINDER</auth_advancedPostfix>

                <context>MagentoSearch65</context>
                <channel></channel>
                <language></language>
            </search>
            <export>
                <urls>0</urls>
                <track_carts>1</track_carts>
                <track_checkout>1</track_checkout>
            </export>
            <config>
                <identifier>entity_id</identifier>
                <proxy>0</proxy>
                <debug>0</debug>
                <navigation>0</navigation>
                <upsell>0</upsell>
                <crosssell>0</crosssell>
            </config>
    
            <!-- encoding settings -->
            <encoding>
                <pageContent>UTF-8</pageContent>
                <serverURI>UTF-8</serverURI>
                <pageURI>UTF-8</pageURI>
            </encoding>
        </factfinder>
    </default>    
</config>