<?xml version="1.0"?>
<!--
/**
 * Flagbit_FactFinder
 *
 * @category  Mage
 * @package   Flagbit_FactFinder
 * @copyright Copyright (c) 2010 Flagbit GmbH & Co. KG (http://www.flagbit.de/)
 */

/**
 * System Config
 * 
 * @category  Mage
 * @package   Flagbit_FactFinder
 * @copyright Copyright (c) 2010 Flagbit GmbH & Co. KG (http://www.flagbit.de/)
 * @author    Joerg Weller <weller@flagbit.de>
 * @version   $Id$
 */
-->
<config>
   <sections>
        <factfinder translate="label" module="factfinder">
            <label>FACT-Finder</label>
            <tab>catalog</tab>
            <sort_order>420</sort_order>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>			
            <groups>
            	<!--
            	<status>
                    <label>FACT-Finder Status</label>
                    <frontend_type>text</frontend_type>				
                    <frontend_model>paypal/adminhtml_system_config_fieldset_global</frontend_model>								
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Use FACT-Finder Search</label>
                            <comment>Test FACT-Finder for 30 days at no charge, either using your own product data in our demo system</comment>
                            <demo_url><![CDATA[https://merchant.paypal.com/us/cgi-bin/?&cmd=_render-content&content_ID=merchant/demo_express_checkout]]></demo_url>
                            <more_url><![CDATA[http://www.fact-finder.com/Contact.html]]></more_url>
                            <config_path>factfinder/search/enabled</config_path>
                            <frontend_type>checkbox</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enabled>  
					</fields>          		
				</status>
				-->
                <search translate="label">
                    <label>FACT-Finder Accessdata</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>factfinder/system_config_backend_enabled</backend_model>                            							
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>						                    	
                        <address translate="label">
                            <label>Server URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address>
                        <port translate="label">
                            <label>Server Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </port>
                        <context translate="label">
                            <label>Context Name</label>
                            <comment>Name of the FACT-Finder Application</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </context>
                        <auth_user translate="label">
                            <label>User Name</label>
                            <comment>Username for Authentication</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth_user>
                        <auth_password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth_password>
                        <channel translate="label">
                            <label>Channel</label>
                            <comment>FACT-Finder can provide multiple search indices, each represented by a "channel".
                                Leave empty to use default channel.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </channel>
                        <language translate="label">
                            <label>Language</label>
                            <comment>Some text snippets come directly from FACT-Finder. Set the language code here.
                                Leave empty to use the language of the users browser.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                        <auth_type translate="label">
                            <label>Authentication Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>factfinder/system_config_source_authtype</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth_type>
                        <auth_advancedPrefix>
                            <label>Advanced Authentication Prefix</label>
                            <frontend_type>text</frontend_type>
                            <comment>The advanced authentication post- and prefix are only used if the authentication
                                type is "advanced".</comment>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth_advancedPrefix>
                        <auth_advancedPostfix>
                            <label>Advanced Authentication Postfix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth_advancedPostfix>
                    </fields>
                </search>
                <config translate="label">
                    <label>FACT-Finder Configdata</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <identifier translate="label">
                            <label>Product Identifier</label>
                            <frontend_type>select</frontend_type>
                            <source_model>factfinder/system_config_source_identifier</source_model>                       							
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identifier>	                    	
                    </fields>
                </config>				
            </groups>
        </factfinder>
    </sections>
</config>