<?xml version="1.0"?>
<config>
    <modules>
        <FACTFinder_Tracking>
            <version>0.1.0</version>
        </FACTFinder_Tracking>
    </modules>
    <global>
        <models>
            <factfinder_tracking>
                <class>FACTFinder_Tracking_Model</class>
                <resourceModel>factfinder_tracking_resource</resourceModel>
            </factfinder_tracking>
            <factfinder_tracking_resource>
                <class>FACTFinder_Tracking_Model_Resource</class>
            </factfinder_tracking_resource>
        </models>
        <blocks>
            <factfinder_tracking>
                <class>FACTFinder_Tracking_Block</class>
            </factfinder_tracking>
        </blocks>
        <helpers>
            <factfinder_tracking>
                <class>FACTFinder_Tracking_Helper</class>
            </factfinder_tracking>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <factfinder_add_to_cart_send_scic>
                        <class>factfinder_tracking/observer</class>
                        <method>addToCartSendSCIC</method>
                    </factfinder_add_to_cart_send_scic>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
</config>