<?xml version="1.0"?>
<config>
    <modules>
        <FACTFinder_Recommendation>
            <version>0.1.0</version>
        </FACTFinder_Recommendation>
    </modules>
    <global>
        <models>
            <factfinder_recommendation>
                <class>FACTFinder_Recommendation_Model</class>
            </factfinder_recommendation>
        </models>
        <blocks>
            <factfinder_recommendation>
                <class>FACTFinder_Recommendation_Block</class>
            </factfinder_recommendation>
        </blocks>
        <helpers>
            <factfinder_recommendation>
                <class>FACTFinder_Recommendation_Helper</class>
            </factfinder_recommendation>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <factfinder_recommendation_load_upsell>
                        <class>factfinder_recommendation/observer</class>
                        <method>loadRecommendedItemsItems</method>
                    </factfinder_recommendation_load_upsell>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </frontend>
</config>