.form-search .search-autocomplete.advanced-suggest li {
    overflow: hidden;
}

.form-search .search-autocomplete.advanced-suggest li.delimiter {
    cursor: default;
    font-weight: bold;
}

.form-search .search-autocomplete.advanced-suggest span.thumbnail {
    float:left;
    margin-right: .3em;
}